<div class="page-header">
  <h1>{{message.title}}</h1>
</div>

<p>
  {{message.content}}
</p>

<h2>{{message.Replies.length}} vastaus</h3>

<ul ng-repeat="reply in message.Replies" class="media-list">
  <li class="media">
    <div class="media-body">
      <h4 class="media-heading">{{reply.User}}</h4>

      <p>
        {{reply.content}}
      </p>

      <p class="text-muted">
        {{message.createdAt | date: 'd' + '.' + 'M' + '.' + 'yyyy'+ ' ' + 'h' + ':' + 'mm'}}
      </p>
    </div>
  </li>
</ul>

<h2>Lisää oma vastauksesi</h2>

<form>
  <div class="form-group">
    <label>Vastaus</label>
    <textarea class="form-control" ng-model="newReply.content"></textarea>
  </div>
  <button class="btn btn-success" ng-click="addReply()">Lisää vastaus</button>
</form>
